[Desktop Entry]
Name=DuckPx
Comment=Pixel- und Millimeter-Anzeige mit DPI-Berechnung
Exec=/usr/local/bin/duckpx
Icon=/usr/local/share/duckpx/icon.png
Terminal=false
Type=Application
Categories=Utility;Calculator;
Keywords=Change;Goose;Duck;Pixel;Rust;Beta;
