[Desktop Entry]
Name=DuckPx
Comment=Pixel- und Millimeter-Anzeige mit DPI-Berechnung
Exec=~/.local/bin/duckpx
Icon=~/.local/share/duckpx/icon.png
Terminal=false
Type=Application
Categories=Utility;Calculator;
Keywords=Change;Goose;Duck;Pixel;Rust;
